@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&display=swap');

*{
    color: rgb(192, 192, 192);
    font-family: Poppins;
    font-size: 1.05em;
}


body {
    margin: 0;
    background-image: linear-gradient(132deg, rgb(8, 10, 14) 0%, rgb(37, 53, 77) 100%);
    background-repeat: no-repeat;

}

.main {
    min-height: 100vh;
    height: 100%vh;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.nav li{
    display: inline;
}

.nav {
    padding: 2em 0;
    margin-left: -6.5em;
}

.nav a{
    text-decoration: none;
    color: rgb(71, 139, 248);
    font-size: 22px;
    padding: .25em 2em;
    border-radius: 4px;

}

.nav a:hover{
    transition: 150ms;
    background-color: rgba(71, 139, 248, .3);
    text-decoration: underline;
}

.link-color {
    color:rgb(71, 139, 248);
}

.white{
    color: white;
}

.intro{
    font-size: 1.7em;
    padding: 3em;
}

.section-header{
    font-size: 3em;
    font-weight: bold;
}

.skills h3{
    font-weight: bold;
    color: rgb(128, 177, 250);
    font-size: 1.5em;
}

.skills {
    padding-bottom: 3em;
}

.experience {
    margin-bottom: 4em;
}
.experience h2{
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin-bottom: 0;

}

.experience h2 a{
    color:rgb(71, 139, 248);
}

.experience h4{
    margin: 0%;
    color:rgb(49, 94, 165);
}

.blogs{
    margin-top: 2em;
}

.blog h2{
    color: white
}

.blog-list{
    margin-top: 0 1em;
}


.blog-list a{
    color: rgb(71, 139, 248);
    text-decoration-line: underline;
}

.blog-list h2{
    margin: 0;
}

.blog-list h4{
    color:rgb(49, 94, 165);
    margin: 0;
}

.blogs li{
    padding: 1em;
    border-radius: 10px;
    list-style: none;
}

.blogs li:hover{
    transition: 150ms;
    background-color:rgba(71, 139, 248, .3) ;
}

.blog-container{
    margin: 0 auto;
    max-width: 1500px; 
} 

input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

@media only screen and (max-width: 600px) {
    /* Adjust the zoom level or layout for smaller screens */
    body {
        zoom: 30%; /* Adjust the zoom level as needed */
    }
}